/* Variables (colors.scss) */

/* Colors */
$gold-main: rgb(218, 170, 14);
$green-btn: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$gray-panel: rgb(212, 213, 216);
$light-green: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$dark-text: rgb(49, 49, 48);

/* Fonts */
$font-main: Arial, Helvetica, sans-serif;
$font-logo: 'Sacramento', cursive;

/* Layout width – добавь ЭТУ строку */
$layout-width: 1000px;
