/* Import */
@import 'colors';
@import 'nav';

/* Mixin or Extend for button */
@mixin primary-button {
  background-color: $gold-main;
  color: $white;
  border: none;
  padding: 6px 25px;
  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: $green-btn;
    color: $dark-text;
  }
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-main;
  background-color: $gold-main;
}


header,
main,
footer {
  max-width: $layout-width;
  margin: 0 auto;
}


main {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 18px;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;


  #intro-text {
    background-color: $gray-panel;
    flex: 0 0 45%;
    padding: 38px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span {
      font-family: $font-logo;
      font-size: 2rem;
      margin-bottom: 18px;
    }

    h3 {
      font-size: 1.6rem;
      margin: 0 0 18px;
      color: $dark-text;
      line-height: 1.4;
    }

    p {
      font-size: 0.9rem;
      margin: 0 0 25px;
      color: $dark-text  !important;

    .submit-buttton {
      @include primary-button;
      align-self: center;
    }
  }

  /* right part with image */
  #intro-image {
    flex: 0 0 55%;
    display: flex;

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Footer */
footer {
  background-color: $gold-main;
  color: $white;
  padding: 8px 20px;
  font-size: 0.8rem;
  color: $dark-text
}
}